<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43057026924-ooibu4s8mv50j83aces48enutpolm0b9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43057026924-ooibu4s8mv50j83aces48enutpolm0b9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>43057026924-pgshssnsimqi3f9psj9jdf1ojc384u2n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCkQJ71trTcxadLGfFzb9UIir4u1ab2eoI</string>
	<key>GCM_SENDER_ID</key>
	<string>43057026924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prompttech.SingleCart</string>
	<key>PROJECT_ID</key>
	<string>singlecart</string>
	<key>STORAGE_BUCKET</key>
	<string>singlecart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:43057026924:ios:2e37148ddaf440817f4549</string>
	<key>DATABASE_URL</key>
	<string>https://singlecart.firebaseio.com</string>
</dict>
</plist>
